@import '~antd/dist/antd.css';
@import '/src/styles/pages/Login.css';
@import '/src/styles/components/LoginForm.css';

.marginTop10 {
    margin-top: 10px;
}

.nav-button {
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    padding: 0 20px;
}

.nav-button:hover {
    color: rgb(255, 255, 255);
    background-color: #1890ff;
    transition: .3s;
}