@import '~antd/dist/antd.css';
@import '/src/styles/pages/Login.css';
@import '/src/styles/components/LoginForm.css';

.marginTop10 {
    margin-top: 10px;
}

.nav-button {
    color: white;
    cursor: pointer;
    padding: 0 10px;
}

.nav-button:hover {
    background-color: #1890ff;
    transition: .3s;
}